:root {
    --img-width: 208px;
    --img-height: 117px; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    padding: 45px;
}

h1, h2 {
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
}

header h1 {
    display: inline-block;
}

nav {
    float: right;
    display: block;
    font-size: 100%;
    padding-top: 15px;
}

ul li {
    display: inline-block;
    margin-right: 25px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

#about-me h2 {
    display: inline-block;
}

.about-me-title {
    vertical-align: middle;
}

.my-photo {
    vertical-align:middle;
    display: inline;
    width: 15%;
    height: 15%;
    border-radius: 200px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color:black;
}

p {
    font-size: 70%;
    text-align: justify;
    text-justify: distribute;
}

.hero{
    display: flex;
    justify-content: center;
}

.hero-item {
    flex: 1 0 50px;
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 20px;
}

.hero-img {
    display: block;
    margin:auto;
    width: 70%;
    min-width: var(--img-width);
    min-height: var(--img-height);
}

.row {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.portfolio-item {
    flex: 0 0 50px;
    /* margin: 40px; */
    /* margin-bottom: 10px; */
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
}

.portfolio-img {
    display: block;
    margin:auto;
    width: 208px;
    height: 117px;
}

figcaption {
    margin-top: 10px;
    text-align: center;
    font-size: 80%;
}

.contact-row {
    display: table;
	margin: 0 auto;
}

@media screen and (max-width: 1150px) {
    nav {
        width: 100%;
        text-align: center;
        padding-top: 0px;

    }
}

@media screen and (max-width: 667px) {

    h1, h2 {
        text-align: center;
        margin-left: 0px;
    }
    
    #about-me h2 {
        display: block;
    }

    .contact-row ul li {
        display: block;
    }
}

@media screen and (max-width: 575px) {
    
    ul {
        padding: 0px;
    }
    ul li {
        margin-right: 0px;
        display: block;
    }

    .my-photo {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }


    hr {
        display: block;
    }
  }