:root {
    --img-width: 208px;
    --img-height: 117px; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    padding: 45px;
}

h1, h2 {
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
}

header h1 {
    display: inline-block;
}

header nav {
    float: right;
    display: block;
    font-size: 100%;
    padding-top: 15px;
}

ul li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color:black;
}

p {
    font-size: 70%;
    text-align: justify;
    text-justify: distribute;
}

.hero{
    display: flex;
    justify-content: center;
}

.hero-item {
    flex: 1 0 50px;
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 20px;
}

.hero-img {
    display: block;
    margin:auto;
    width: 70%;
    min-width: var(--img-width);
    min-height: var(--img-height);
}

.row {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.portfolio-item {
    flex: 0 0 50px;
    /* margin: 40px; */
    /* margin-bottom: 10px; */
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
}

.portfolio-img {
    display: block;
    margin:auto;
    width: 208px;
    height: 117px;
}

figcaption {
    margin-top: 10px;
    text-align: center;
    font-size: 80%;
}

.contact-row {
    display: table;
	margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    nav {
        width: 100%;
    }
}

@media screen and (max-width: 867px) {
    h2 {
        margin-left: 0px;
        text-align: center;
    }
    ul li {
        display: block;
    }
}

@media screen and (max-width: 667px) {
    .contact-row ul li {
        display: block;
    }
}

@media screen and (max-width: 575px) {

    hr {
        display: block;
    }
  }